@model Razor.Models.Product

@{ 
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";

}

<h2>Name And Price</h2>
The product name is @Model.Name and it cost $@Model.Price